@media (max-width: 1200px) {
  .playstation__item {
  }

  .playstation__item-title {
    font-size: 1.5rem;
  }

  .btn-site {
    padding-inline: 1.35rem;
    font-size: 1rem;
  }

  .playstation__tab {
    padding: 0.75rem 0.85rem;
  }

  .conditions__left {
    padding: 2.15rem 2.15rem;
  }
  .game__body-item {
    padding-inline: 0.4rem;
  }
}

@media (max-width: 992px) {
  .header__list {
    display: none;
  }

  .padding-bottom {
    padding-bottom: 5rem;
  }

  .top {
    padding: 4.5rem 0;
  }

  .top__inner {
    flex-direction: column;
  }

  .top__col:first-child {
    order: 2;
  }

  .top__col:last-child {
    order: 1;
  }

  .top__col {
    width: 100%;
  }

  .top__image-wrap.image-wrap::after {
    padding-bottom: 40%;
  }

  .top__image-wrap img {
    object-fit: cover;
  }

  .playstation__list {
    justify-content: space-between;
  }

  .playstation__item {
    width: calc(100% / 2 - 0.625rem);
  }

  .playstation__image-wrap.image-wrap::after {
    padding-bottom: 40%;
  }

  .playstation__list {
    gap: 1.25rem;
  }

  .rent__body {
    padding: 1rem;
    inset: 0;
  }

  .rent__stage {
    font-size: 6.25rem;
  }

  .rent__right-title {
    font-size: 2rem;
  }

  .game__item {
    width: calc(100% / 2 - 1rem);
  }

  .games__body {
    align-items: start;
  }

  .games__body {
    flex-direction: column;
  }

  .games__left {
    width: 100%;
    margin-bottom: 2rem;
  }

  .games__left-wrap.image-wrap::after {
    padding-bottom: 60%;
  }

  .games__left-wrap .image-fluid {
    object-fit: contain;
  }

  .games__right {
    width: 100%;
  }

  .game__item {
    width: calc(100% / 4 - 1rem);
  }

  .list-block {
    padding-top: 4.5rem;
  }

  .conditions__inner {
    flex-direction: column;
    position: relative;
  }

  .conditions__left {
    width: 100%;
    padding-bottom: 6rem;
  }

  .condition__item-wrap {
    width: 15vw;
  }

  .conditions__right {
    margin: 0 auto;
    position: absolute;
    bottom: -100%;
    left: 50%;
    transform: translate(-50%, -80%);
  }

  .other__item {
    padding: 1rem;
  }

  .other__item-title {
    font-size: 1.5rem;
    text-align: center;
  }

  .other__item-btn {
    gap: 0;
    justify-content: space-between;
  }

  .main-form__btn {
    text-align: center;
    justify-content: center;
  }

  .footer__inner {
    grid-template-columns: repeat(3, 1fr);
  }

  .conditions__image-wrap {
    display: none;
  }

  .other {
    margin-top: 0;
  }
}

@media (max-width: 768px) {
  .header__inner {
    justify-content: space-between;
  }
  .header__phones {
    display: none;
  }
  .toggle-menu__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .toggle-menu .header__phones {
    margin-left: 0;
    display: block;
  }
  .toggle-menu .header__phone {
    font-size: 1rem;
    text-align: center;
    padding: 0.25rem;
    margin-left: 0;
  }
  .toggle-menu__btn {
    display: block;
    margin-left: 0.5rem;
  }
  .modal {
    padding: 1rem;
  }
  .modal__container {
    max-width: 100%;
    padding: 1.5rem;
    border-radius: 1.5rem;
  }

  .select2-container .select2-selection--single {
    padding: 0.75rem 0.85rem;
  }

  .top__title {
    max-width: 100%;
    font-size: 3.2rem;
    margin-top: 0.7rem;
  }

  .games__subtitle {
    font-size: 1.75rem;
  }

  .rent__list {
    padding-top: 3.5rem;
  }

  .rent__item {
    width: 100%;
  }

  .rent__body {
    padding: 1rem 1rem;
  }

  .rent__item:nth-child(1) .image-fluid {
    border-top-left-radius: 0rem;
  }

  .rent__item:nth-child(2) .image-fluid {
    border-top-right-radius: 0rem;
  }

  .rent__item:nth-child(3) .image-fluid {
    border-bottom-left-radius: 0rem;
  }

  .rent__item:nth-child(4) .image-fluid {
    border-bottom-right-radius: 0rem;
  }

  .rent__right-title {
    font-size: 1.5rem;
  }

  .rent__stage {
    font-size: 4.375rem;
  }

  .games__left {
    margin-bottom: 1.5rem;
  }

  .list-block {
    padding-top: 3.5rem;
  }

  .conditions__inner {
    flex-direction: column;
    position: relative;
    margin-top: 3.5rem;
  }

  .conditions__left {
    width: 100%;
    padding-bottom: 2.15rem;
  }

  .condition__item-wrap {
    min-width: 15vw;
  }

  .conditions__right {
    display: none;
  }

  .other__item {
    padding: 1rem;
  }

  .other__list {
    gap: 1rem;
    justify-content: space-between;
  }

  .other__item {
    width: calc(100% / 2 - 0.5rem);
    padding: 0.75rem;
  }

  .other__item-title {
    font-size: 1.25rem;
  }

  .form-block__inner {
    flex-direction: column;
  }

  .form-block__left {
    width: 100%;
  }

  .form-block__image-wrap .image-fluid {
    object-fit: contain;
  }

  .form-block__image-wrap.image-wrap::after {
    padding-bottom: 50%;
  }

  .form-block__right {
    width: 100%;
  }

  .padding-bottom {
    padding-bottom: 4rem;
  }

  .faqs__list {
    margin-top: 4rem;
  }

  .rent__image-wrap.image-wrap::after {
    padding-bottom: 21%;
  }

  .rent {
    padding: 3.5rem 0;
  }

  .other {
    margin-top: 0;
  }
}

@media (max-width: 660px) {
  .game__item {
    width: calc(100% / 3 - 1rem);
    flex-grow: 1;
  }

  .condition__item-wrap {
    flex-shrink: 0;
    min-width: 35%;
  }

  .condition__item {
    gap: 0.75rem;
  }

  .conditions__left {
    padding: 1.15rem;
  }

  .condition__item-title {
    font-size: 1.75rem;
  }

  .condition__item-wrap {
    display: none;
  }

  .footer__inner {
    display: flex;
    flex-wrap: wrap;
  }
  .footer__col {
    flex-grow: 1;
  }

  .list-block {
    padding-top: 2.5rem;
  }

  .playstation__image-wrap.image-wrap::after {
    padding-bottom: 60%;
  }

  .faq__ask-text {
    font-size: 1.35rem;
    padding-bottom: 0.25rem;
  }

  .faqs__list {
    margin-top: 2.5rem;
    padding: 1rem;
  }

  .widget__item {
    width: 3rem;
    height: 3rem;
  }

  .widget__item img {
    width: 2.5rem;
    height: 2.5rem;
  }
}

@media (max-width: 550px) {
  .top {
    padding: 3.5rem 0;
  }

  .playstation__item {
    width: 100%;
    padding: 0rem;
  }

  .rent__body {
    padding: 0.75rem;
  }

  .game__item {
    width: calc(100% / 2 - 1rem);
    flex-grow: 1;
  }

  .games__subtitle {
    font-size: 1.3rem;
  }

  .form-block__image-wrap .image-fluid {
    object-fit: contain;
  }

  .form-block__image-wrap.image-wrap::after {
    padding-bottom: 100%;
  }

  .h2 {
    font-size: 2rem;
  }

  .form-block__inner {
    gap: 1.75rem;
  }

  .padding-bottom {
    padding-bottom: 2.5rem;
  }

  .rent__image-wrap.image-wrap::after {
    padding-bottom: 30%;
  }

  .footer {
    padding-top: 1rem;
  }

  .footer__title {
    font-size: 1.125rem;
  }

  .modal__label-data {
    flex-direction: column;
  }

  .widget {
    bottom: 1rem;
    right: 1rem;
  }
}

@media (max-width: 475px) {
  .top__title {
    font-size: 2.9rem;
  }

  .top {
    padding: 3rem 0;
  }

  .playstation__image-wrap.image-wrap::after {
    padding-bottom: 60%;
  }

  .playstation__list,
  .rent__list {
    padding-top: 2.25rem;
  }

  .list-block {
    padding-top: 2.25rem;
  }

  .other__item {
    width: 100%;
  }

  .other__list {
    gap: 1.5rem;
  }

  .faq__ask-text {
    font-size: 1.125rem;
  }

  .dev__text {
    text-align: center;
  }

  .dev__who {
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .rent__image-wrap.image-wrap::after {
    padding-bottom: 50%;
  }

  .rent__stage {
    font-size: 20vw;
    line-height: 1;
  }

  .rent__right-title {
    font-size: 1.25rem;
  }

  .rent__right-text {
    font-size: 1rem;
  }

  .modal__container {
    padding: 1.5rem 0.75rem;
    position: relative;
  }

  .modal__inner {
    position: static;
  }

  .modal__close {
    right: 0.25rem;
    top: 0.25rem;
  }

  .modal__title {
    font-size: 1.5rem;
  }

  .select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    font-size: 1rem;
  }

  .modal__input {
    font-size: 1rem;
  }

  .modal__label {
    padding-inline: 1rem;
  }

  .modal__label-box {
    padding-inline: 1rem;
  }

  .modal__textarea {
    padding-inline: 1rem;
  }

  .modal__submit {
    padding: 0.75rem 0;
    font-size: 1.15rem;
  }
}

@media (max-width: 400px) {
  .footer__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer__col {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .footer__link {
    text-align: center;
  }
}

@media (max-width: 360px) {
  .top__title {
    font-size: 2.3rem;
  }

  .game__item {
    width: 100%;
    flex-grow: 1;
  }

  .games__right {
    gap: 1.75rem;
  }

  .games__left-wrap .image-fluid {
    object-fit: cover;
  }

  .games__left-wrap.image-wrap::after {
    padding-bottom: 100%;
  }

  /* .game__item-wrap.image-wrap::after {
        padding-bottom: 60%;
    }
    .game__item-wrap .image-fluid {
        object-fit: contain;
    } */
  .game__body-name {
    font-size: 1.2rem;
    margin: 1rem 0;
  }
}

@media (max-width: 320px) {
}
