html {
    box-sizing: border-box;
    font-size: 18px;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --bg-site: #000;
    /* 131313*/
    --white: #fff;
    --primary: #2527F8;

    --primary-border: 15px;
    --primary-time: 300ms;
}


body {
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    line-height: 1.1;
    font-style: normal;
    background-color: var(--bg-site);
    color: var(--white);
}

.container {
    max-width: 1420px;
    padding: 0 10px;
    margin: 0 auto;
}

h2 {
    font-size: 48px;
    line-height: 1;
}

.h2 {
    text-align: center;
}

.btn {}

.btn-link {
    display: inline-block;
    font-weight: 600;
    color: var(--white);
    transition: background-color var(--primary-time);
    padding: 11px 10px;
    background-color: transparent;
    border: solid #335FFE;
    border-width: 0 2px 2px 2px;
    border-radius: 12px;
}

.btn-site {
    text-align: center;
    padding: 0.7rem 1.66rem;
    font-size: 1.22rem;
    color: var(--white);
    border-radius: var(--primary-border);
    background-color: var(--primary);
    transition: all var(--primary-time);
    display: inline-flex;
    align-items: center;
}

.image-wrap {
    position: relative;
}

.image-wrap::after {
    content: "";
    padding-bottom: 100%;
    display: block;
}

.image-fluid {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    top: 0;
    left: 0;
}



.btn-site:hover {
    background-color: var(--white);
    color: var(--primary);
}

/* */

.header__inner {
    display: flex;
    justify-content: start;
    align-items: center;
}

.header__logo {}

.header__logo img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.header__list {
    display: flex;
    margin-left: 30px;
}

.header__item {
    padding: 20px;
}

.header__item-link {
    color: var(--white);
    font-weight: 500;
    font-size: 20px;
    transition: color var(--primary-time);
}

.header__item-link:hover {
    color: var(--primary);
}

.header__phones {
    margin-left: auto;
}

.header__phone {
    font-size: 1.22rem;
    line-height: 1.4;
    transition: color var(--primary-time);
}

.header__phone:hover {
    color: var(--primary);
}

/**/

.top {
    padding: 100px 0;
}

.top__inner {
    display: flex;
}

.top__col {
    width: 50%;
}

.top__title {
    font-weight: 700;
    font-size: 80px;
    color: var(--white);
    max-width: 620px;
    margin-bottom: 2rem;
}

.top__title span {
    color: #335FFE;
}

.top__subtitle {
    font-size: 1.22rem;
    margin-bottom: 2rem;
}

.top__image-wrap {}

.top__image-wrap img {
    object-position: left center;
    object-fit: contain;
}

.top__btn i {
    margin-left: 0.5rem;
}


/**/
.playstation__inner {
    text-align: center;
}

.playstation__list {
    display: flex;
    gap: 10px;
}

.playstation__item {
    width: calc(100% / 4 - 10px);
    padding: 1.66rem;
}

.playstation__image-wrap.image-wrap::after {
    padding-bottom: 60%;
}

.playstation__image-wrap img {
    object-fit: contain;
}

.playstation__tabs {
    display: flex;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 2px solid var(--white);
    background-color: var(--white);
    overflow: hidden;
}

.playstation__tab {
    flex-grow: 1;
    padding: 0.7rem 0.8rem;
    font-size: 0.77rem;
    font-weight: 600;
    background-color: transparent;
    color: var(--white);
    transition: var(--primary-time);
    background-color: #000;
}

.playstation__tab.active {
    background-color: var(--white);
    color: #000;
}

.playstation__tab:not(.active):hover {
    background-color: var(--white);
    color: #000;
}

.playstation__item-title {
    font-size: 1.88rem;
    font-weight: 600;
    margin: 1.5rem 0;

}

.playstation__prices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.playstation_price+.playstation_price {
    margin-top: 0.4rem;
}

.playstation_price {}

.playstation__btns {
    margin-top: 1.5rem;
}

/**/

.rent {
    padding: 100px 0;
}

.rent__list {
    display: flex;
    border-radius: 20px;
    overflow: hidden;
    flex-wrap: wrap;
}

.rent__item {
    width: 50%;
    position: relative;
}



.rent__image-wrap {}

.rent__image-wrap .image-fluid {
    position: relative;
}

.rent__image-wrap.image-wrap::after {
    padding-bottom: 40%;
    padding-bottom: 0;
}


.rent__body {
    position: absolute;
    padding: 1.8rem;
    top: 0;
    left: 0;
    display: flex;
    align-items: start;
}

.rent__left {}

.rent__stage {
    font-size: 145px;
    font-weight: 500;
    font-family: "Montserrat", Sans-serif;
    line-height: 1;
}


.rent__right {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
}

.rent__right-title {
    font-size: 2.22rem;
    margin-bottom: 1rem;
}

.rent__right-text {}

/**/

.games {
    padding-bottom: 120px;
}

.games__title {
    margin-bottom: 0;

}

.games__subtitle {
    font-size: 2.11rem;
    margin-top: 1rem;
}

.games__body {
    display: flex;
    align-items: center;
    padding-top: 100px;
}

.games__left {
    width: 50%;
}

.games__right {
    align-self: start;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    gap: 1rem;
    width: 50%;
}

.game__item {
    width: calc(100% / 3 - 1rem);
    display: flex;
    flex-direction: column;

}

.game__body {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

.game__body-items {
    display: flex;
    gap: 6px;
}

.game__body-item {
    background-color: #335FFE;
    font-size: .88rem;
    padding: 6px 10px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    gap: 0.33rem;
}

.game__body-name {
    margin: 0.75rem 0;
    font-size: 1.11rem;
    font-weight: 500;
}

.game__btn {
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}



.btn-link:hover {
    background-color: #335FFE;
}

.games__btns {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* conditions*/

.conditions {
    padding-bottom: 120px;

}



.conditions__inner {
    background-image: url(https://arendapristavok.by/wp-content/uploads/2024/01/Rectangle-14-1.png);
    display: flex;
    align-items: start;
    border-radius: 15px;
}

.conditions__left {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 45px 70px;
}

.condition__item {
    display: flex;
    gap: 2rem;
}

.condition__item-wrap {
    width: 40%;
}

.condition__item-title {
    font-size: 2.22rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.conditions__right {
    padding: 1.1rem 0;
    width: 40%;
}

/* other*/

.other {
    padding-bottom: 120px;
}

.other__list {
    padding-top: 90px;
}

.other__list {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.other__item {
    width: calc(100% / 3 - 1.5rem);
    padding: 1.66rem 1.38rem;
    display: flex;
    flex-direction: column;
    background-color: #1b1b1c;
    border-radius: 20px;
}

.other__image-wrap .image-fluid {
    object-fit: contain;
}

.other__image-wrap.image-wrap::after {
    padding-bottom: 50%;
}

.other__item-body {
    margin-top: 1rem;
}

.other__item-title {
    font-weight: 700;
    font-size: 2rem;
}

.other__item-btns {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.other__item-btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.75rem;
    text-align: center;
}

/*form-block*/

.form-block {
    padding-bottom: 120px;
}

.form-block__inner {
    gap: 1rem;
    display: flex;
    align-items: center;
}

.form-block__left {
    width: 50%;
}

.form-block__right {
    flex-grow: 1;
}

.main-form__title {
    margin-bottom: 1rem;
}

.main-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.main-form__label {}

.main-form__input {
    width: 100%;
    border: none;
    border: 2px solid var(--primary);
    background-color: transparent;
    padding: 0.75rem 1rem;
    border-radius: 20px;
}

.main-form__textarea {
    width: 100%;
    border: none;
    border: 2px solid var(--primary);
    background-color: transparent;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    min-height: 120px;
}

.main-form__btn {
    width: 100%;
    padding: 0.75rem 1.66rem;
    line-height: 1;
    font-weight: 500;
}

/* faqs*/

.faqs {
    padding-bottom: 120px;
}

.faqs__list {
    margin-top: 90px;
    padding: 1.38rem;
    display: flex;
    flex-direction: column;
    border: 2px solid var(--primary);
    border-radius: 15px;
}

.faq__item {
    border-bottom: 1px solid var(--primary);
    padding: 0.83rem;
    cursor: pointer;
}

.faq__item-container {
    display: flex;
}

.faq__ask {
    
}

.faq__ask-text {
    font-size: 1.55rem;
    font-weight: 600;
}

.faq__answer {
    margin-bottom: 0.75rem;
}

.faq__answer-text {
    line-height: 1.5;
}


/**footer*/


.footer {
    padding: 2.22rem 0;
    font-size: 16px;
    line-height: 1.4;
}

.footer__inner {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
}

.footer__col {
    display: flex;
    flex-direction: column;
}

.footer__logo img {
    object-fit: cover;
    width: 50px;
}

.footer__title {
    font-size: 1em;
    margin-bottom: 1rem;
}

.footer__links {
    display: flex;
    flex-direction: column;

}

.footer__link {
    color: #6a6a6a;
    font-size: 1em;
    font-weight: 400;

}

.footer__link:hover {
    color: var(--white);
}

.footer__phone {
    color: #f8f8f8;
    white-space: nowrap;
    margin-bottom: 1.5rem;
}

.dev {}

.dev__who {
    transition: opacity var(--primary-time);
    opacity: 0.3;
}

.dev__who:hover {
    opacity: 1;
}

.dev__text {
    opacity: 0.3;
}