html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --bg-site: #000;
  /* 131313*/
  --white: #fff;
  --primary: #2527f8;

  --primary-border: 0.9375rem;
  --primary-time: 300ms;
}

body {
  font-family: "Overpass", sans-serif;
  font-weight: 400;
  line-height: 1.1;
  font-style: normal;
  background-color: var(--bg-site);
  color: var(--white);
}

button {
  outline: none;
}

.container {
  max-width: 1220px;
  padding: 0 0.625rem;
  margin: 0 auto;
}

h2 {
  line-height: 1;
}

.h2 {
  font-size: 3rem;
  text-align: center;
}

.btn {
}

.btn-link {
  display: inline-block;
  font-weight: 600;
  color: var(--white);
  transition: background-color var(--primary-time);
  padding: 0.75rem 0.625rem;
  background-color: transparent;
  border: solid #335ffe;
  border-width: 0 0.125rem 0.125rem 0.125rem;
  border-radius: 0.75rem;
}

.btn-site {
  text-align: center;
  padding: 0.7rem 1.66rem;
  font-size: 1.22rem;
  color: var(--white);
  border-radius: var(--primary-border);
  background-color: var(--primary);
  transition: all var(--primary-time);
  display: inline-flex;
  align-items: center;
}

.image-wrap {
  position: relative;
}

.image-wrap::after {
  content: "";
  padding-bottom: 100%;
  display: block;
}

.image-fluid {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  top: 0;
  left: 0;
}

.btn-site:hover {
  background-color: var(--white);
  color: var(--primary);
}

/* */

.header__inner {
  display: flex;
  justify-content: start;
  align-items: center;
}

.header__logo {
}

.header__logo img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
}

.header__list {
  display: flex;
  margin-left: 2rem;
}

.header__item {
  padding: 1.25rem;
}

.header__item-link {
  color: var(--white);
  font-weight: 500;
  font-size: 1.11rem;
  transition: color var(--primary-time);
}

.header__item-link:hover {
  color: var(--primary);
}

.header__phones {
  margin-left: auto;
}

.header__phone {
  font-size: 1.22rem;
  line-height: 1.4;
  transition: color var(--primary-time);
}

.header__phone:hover {
  color: var(--primary);
}

.toggle-menu {
  position: relative;
}

.toggle-menu__btn {
  display: none;
  background-color: transparent;
  transition: rotate var(--primary-time);
}

.toggle-menu__btn.toggle-menu__btn--active {
  rotate: 90deg;
}

.toggle-menu__body {
  margin-top: 0.35rem;
  position: absolute;
  right: 0;
  top: 100%;
  width: 12.5rem;
  z-index: 5;
  border: 1px solid var(--primary);
  background-color: #2527f8;
  border-radius: var(--primary-border);
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height var(--primary-time) ease,
    opacity var(--primary-time) ease;
}

.toggle-menu__body--active {
  max-height: 31.25rem;
  opacity: 1;
}

.toggle-menu__body--active {
  display: flex;
  visibility: visible;
  opacity: 1;
}

.toggle-menu-list {
  padding: 1rem;
  display: flex;
  gap: 0.75rem;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0;
}

/**/

.top {
  /* padding: 7.5rem 0; */
  padding: 6.66rem 0;
}

.top__inner {
  display: flex;
}

.top__col {
  width: 50%;
}

.top__title {
  font-weight: 700;
  font-size: 4.44rem;
  color: var(--white);
  max-width: 38.75rem;
  margin-bottom: 2rem;
}

.top__title span {
  color: #335ffe;
}

.top__subtitle {
  font-size: 1.22rem;
  margin-bottom: 2rem;
}

.top__image-wrap {
}

.top__image-wrap img {
  object-position: left center;
  object-fit: contain;
}

.top__btn i {
  margin-left: 0.5rem;
}

/**/
.playstation__inner {
  text-align: center;
}

.playstation__list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding-top: 2.7rem;
}

.playstation__image-wrap {
  transform: translateY(2rem);
}

.playstation__item {
  width: calc(100% / 4 - 1rem * 3 / 4);

  display: flex;
  flex-direction: column;
}

.playstation__item-body {
  padding: 2.5rem 1.5rem;
  flex-grow: 1;
  border: 0.125rem solid var(--primary);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}

.playstation__image-wrap.image-wrap::after {
  padding-bottom: 60%;
}

.playstation__image-wrap img {
  object-fit: contain;
}

.playstation__tabs {
  display: flex;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
  border-radius: 1.25rem;
  border: 0.125rem solid var(--white);
  background-color: var(--white);
  overflow: hidden;
}

.playstation__tab {
  flex-grow: 1;
  padding: 0.7rem 0.8rem;
  font-size: 0.77rem;
  font-weight: 600;
  background-color: transparent;
  color: var(--white);
  transition: var(--primary-time);
  background-color: #000;
}

.playstation__tab.active {
  background-color: var(--white);
  color: #000;
}

.playstation__tab:not(.active):hover {
  background-color: var(--white);
  color: #000;
}

.playstation__item-title {
  font-size: 1.88rem;
  flex-grow: 1;
  font-weight: 600;
  margin: 1.5rem 0;
}

.playstation__prices {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.playstation_price + .playstation_price {
  margin-top: 0.4rem;
}

.playstation_price {
}

.playstation__btns {
  margin-top: 1.5rem;
}

/**/

.rent {
  padding: 5.55rem 0;
}

.rent__list {
  display: flex;
  border-radius: 1.25rem;
  overflow: hidden;
  flex-wrap: wrap;
  padding-top: 5rem;
}

.rent__item {
  width: 50%;
  position: relative;
}

.rent__image-wrap {
}

.rent__image-wrap .image-fluid {
}

.rent__item:nth-child(1) .image-fluid {
  border-top-left-radius: 1.8rem;
}

.rent__item:nth-child(2) .image-fluid {
  border-top-right-radius: 1.8rem;
}

.rent__item:nth-child(3) .image-fluid {
  border-bottom-left-radius: 1.8rem;
}

.rent__item:nth-child(4) .image-fluid {
  border-bottom-right-radius: 1.8rem;
}

.rent__image-wrap.image-wrap::after {
  padding-bottom: 40%;
}

.rent__body {
  position: absolute;
  padding: 2rem;
  top: 0;
  left: 0;
  display: flex;
  align-items: start;
}

.rent__left {
}

.rent__stage {
  font-size: 9rem;
  font-weight: 500;
  font-family: "Montserrat", Sans-serif;
  line-height: 0.7;
}

.rent__right {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
}

.rent__right-title {
  font-size: 2.8rem;
  margin-bottom: 1rem;
}

.rent__right-text {
  font-size: 1.125rem;
}

/**/

.games,
.padding-bottom {
  padding-bottom: 6.66rem;
}

.games__title {
  margin-bottom: 0;
}

.games__subtitle {
  font-size: 2.11rem;
  margin-top: 1rem;
  text-align: center;
}

.games__body {
  display: flex;
  align-items: center;
  padding-top: 5.5rem;
}

.list-block {
  padding-top: 5.5rem;
}

.games__left {
  width: 50%;
}

.games__right {
  align-self: start;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 1rem;
  width: 50%;
}

.game__item {
  width: calc(100% / 3 - 1rem * 2 / 3);
  display: flex;
  flex-direction: column;
}

.game__item-wrap {
}
.game__item-wrap img {
  border: 0.1875rem solid #335ffe;
  border-radius: 0.5rem;
}
.game__body {
  flex-grow: 1;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.game__body-items {
  display: flex;
  gap: 0.375rem;
}

.game__body-item {
  background-color: #335ffe;
  font-size: 1rem;
  padding: 0.375rem 0.625rem;
  border-radius: 0.375rem;
  display: flex;
  align-items: center;
  gap: 0.33rem;
}

.game__body-name {
  margin: 0.75rem 0;
  font-size: 1.25rem;
  font-weight: 500;
}

.game__btn {
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: auto;
}

.btn-link:hover {
  background-color: #335ffe;
}

.games__btns {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* conditions*/

.conditions {
  padding-bottom: 7.5rem;
  overflow: hidden;
}

.conditions__inner {
  background-image: url(../../public/assets/rent-bg.webp);
  display: flex;
  align-items: start;
  margin-top: 5rem;
  border-radius: var(--primary-border);
}

.conditions__left {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2.8rem 4.375rem;
}

.condition__item {
  display: flex;
  gap: 2rem;
}

.condition__item-wrap {
  width: 25%;
}

.condition__item-title {
  font-size: 2.22rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.conditions__right {
  padding: 1.1rem 0;
  width: 40%;
}

.conditions__image-wrap {
  transform: translateX(1.25rem);
}

/* other*/

.other {
  padding-bottom: 7.5rem;
  margin-top: 9rem;
}

.other__list {
  padding-top: 90px;
}

.other__list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.other__item {
  width: calc(100% / 3 - 1.5rem * 2 / 3);
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  background-color: #1b1b1c;
  border-radius: 1.25rem;
}

.other__image-wrap .image-fluid {
  object-fit: contain;
}

.other__image-wrap.image-wrap::after {
  padding-bottom: 41%;
}

.other__item-body {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.other__item-title {
  flex-grow: 1;
  font-weight: 700;
  text-align: center;
  font-size: 2rem;
}

.other__item-btns {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.other__item-btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.75rem;
  text-align: center;
}

/*form-block*/

.form-block {
  padding-bottom: 7.5rem;
}

.form-block__inner {
  gap: 1rem;
  display: flex;
  align-items: center;
}

.form-block__left {
  width: 50%;
}

.form-block__right {
  flex-grow: 1;
}

.main-form__title {
  margin-bottom: 1rem;
}

.main-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.main-form__label {
}

.main-form__input {
  color: var(--white);
  width: 100%;
  border: none;
  border: 0.125rem solid var(--primary);
  background-color: transparent;
  padding: 0.75rem 1rem;
  border-radius: 1.25rem;
  font-size: 1.375rem;
}

.main-form__textarea {
  font-size: 1.375rem;
  color: var(--white);
  width: 100%;
  border: none;
  border: 0.125rem solid var(--primary);
  background-color: transparent;
  padding: 0.5rem 1rem;
  border-radius: 1.25rem;
  min-height: 7.5rem;
}

.main-form__btn {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  line-height: 1;
  font-weight: 500;
}

/* faqs*/

.faqs {
  padding-bottom: 6.66rem;
}

.faqs__list {
  margin-top: 5.625rem;
  padding: 1.38rem;
  display: flex;
  flex-direction: column;
  border: 0.125rem solid var(--primary);
  border-radius: 1rem;
}

.faq__item {
  border-bottom: 0.0625rem solid var(--primary);
  padding: 0.85rem;
  cursor: pointer;
}

.faq__item-container {
  display: flex;
  justify-content: space-between;
}

.faq__ask {
}

.faq__ask-text {
  font-size: 1.55rem;
  font-weight: 600;
}

.faq__answer {
  /* margin-bottom: 0.75rem; */
  display: none;
}

.faq__toggle {
  transition: transform var(--primary-time) ease;
}

.faq__answer-text {
  line-height: 1.5;
}

/**footer*/

.footer {
  padding: 2.22rem 0;
  font-size: 1rem;
  line-height: 1.4;
}

.footer__inner {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

.footer__col {
  display: flex;
  flex-direction: column;
}

.footer__logo img {
  object-fit: cover;
  width: 3.125rem;
}

.footer__title {
  font-size: 1em;
  margin-bottom: 1rem;
}

.footer__links {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.footer__link {
  color: #6a6a6a;
  font-size: 1em;
  font-weight: 400;
}

.footer__link:hover {
  color: var(--white);
}

.footer__phone {
  color: #f8f8f8;
  white-space: nowrap;
  margin-bottom: 1.5rem;
}

.dev {
}

.dev__who {
  transition: opacity var(--primary-time);
  opacity: 0.3;
}

.dev__who:hover {
  opacity: 1;
}

.dev__text {
  opacity: 0.3;
}

.modal {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all var(--primary-time) ease;
  z-index: 1000;
}

.modal.active {
  opacity: 1;
  visibility: visible;
}

button,
input,
textarea,
select {
  background-color: transparent;
  border: none;
  outline: none;
}

.modal__container {
  background-color: #1c1f27;
  padding: 2.5rem 2.1875rem;
  max-width: 40rem;
  width: 100%;
  border-radius: 2.5rem;
  /* overflow-y: auto; */

  transform: translateY(-1.25rem);
  transition: transform var(--primary-time) ease;
}

.modal.active .modal__container {
  transform: translateY(0);
}
.modal__inner {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 1.25rem;
}

.modal__close {
  position: absolute;
  padding: 0.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  top: 0;
}

.modal__close:hover {
  background-color: #2b2b2b;
}

.modal__close svg {
  width: 1rem;
  height: 1rem;
  stroke: #fff;
  fill: #fff;
  color: #fff;
}

.modal__title {
  font-size: 2rem;
  color: #fff;
  text-align: center;
}

.modal__select {
  padding: 1rem 2rem;
  background-color: rgb(42, 44, 52);
  color: #fff;
  border-radius: 1.25rem;
  font-size: 1.375rem;

  appearance: none;
  /* -webkit-appearance: none; */
  /* -moz-appearance: none; */
  /* Добавляем свою стрелку */
  background-image: url("../assets/svg/angle-down-solid-full.svg");
  background-repeat: no-repeat;
  background-position: right 0.625rem center;
  background-size: 1rem;
}

.select2-container .select2-selection--single {
  height: auto;
  padding: 1rem 2rem;
  background-color: rgb(42, 44, 52);
  border: none;
  border-radius: 1.25rem;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  color: #fff;
  font-size: 1.375rem;
  line-height: 1.5;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  height: 100%;
  right: 1rem;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__arrow
  b {
  border-color: #fff transparent transparent transparent;
  border-width: 0.5rem 0.375rem 0 0.375rem;
}

.select2-container--default.select2-container--open
  .select2-selection--single
  .select2-selection__arrow
  b {
  border-color: transparent transparent #fff transparent;
  border-width: 0 0.375rem 0.5rem 0.375rem;
}

.select2-dropdown {
  background-color: rgb(42, 44, 52);
  border: none;
  border-radius: 0 0 1.25rem 1.25rem;
}

.select2-container--default
  .select2-results__option--highlighted[aria-selected] {
  background-color: rgb(60, 62, 70);
  color: #fff;
}

.modal__label {
  width: 100%;
  border-radius: 1.25rem;
  padding: 0.625rem 2rem;
  border: 0.125rem solid var(--primary);
}

.modal__label-data {
  display: flex;
  width: 100%;
  gap: 1.25rem;
}

.modal__input {
  color: #fff;
  font-size: 1.375rem;
  width: 100%;
}

.modal__label-box:has(.modal__input[type="date"]) {
  padding: 0;
}

.modal__input[type="date"] {
  position: relative;
  padding: 0.625rem 2rem;
}

.modal__input::-webkit-calendar-picker-indicator {
  opacity: 0;
  width: 100%;
  position: absolute;
  height: 100%;
  cursor: pointer;
}

.modal__label-box {
  border: 0.125rem solid var(--primary);
  border-radius: 1.25rem;
  padding: 0.625rem 2rem;
  display: flex;
  flex-grow: 1;
}

.modal__textarea {
  color: #fff;
  width: 100%;
  min-height: 4.625rem;
  font-size: 1.375rem;
  resize: vertical;
  direction: ltr;
  border: 0.125rem solid var(--primary);
  border-radius: 1.25rem;
  padding: 0.625rem 2rem;
  display: flex;
}

.modal__submit {
  padding: 1rem;
  color: #fff;
  background-color: var(--primary);
  font-size: 1.375rem;
  border-radius: 1.375rem;
  cursor: pointer;
  transition: 0.2s ease;
}

.modal__submit:hover {
  background-color: #335ffe;
}

.loader {
  width: 3rem;
  height: 3rem;
  border: 0.3125rem solid #f3f3f3;
  border-top: 0.3125rem solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 1.25rem auto;
}

.svg-loader {
  width: 3.125rem;
  height: 3.125rem;
  margin: 1.25rem auto;
  text-align: center;
}

.svg-loader svg {
  animation: rotate 1.5s linear infinite;
}

.svg-loader circle {
  stroke-dasharray: 90, 150;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

.form-messages div {
  padding: 0.625rem;
  margin: 0.625rem 0;
  border-radius: 0.25rem;
}

.success-message {
  background: #d4edda;
  color: #155724;
}

.error-message {
  background: #f8d7da;
  color: #721c24;
}

.widget {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 15;
  gap: 0.5rem;
}

.widget__item {
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.widget__item-btn {
  background-color: var(--primary);
}

.phone {
  background-color: #03e78b;
}

.whatsapp {
  background-color: #49e670;
}

.viber {
  background-color: #665cac;
}

.telegram {
  background-color: #3e99d8;
}

.instagram {
  background: radial-gradient(
    circle farthest-corner at 35% 90%,
    #f9ce34 0%,
    #ee2a7b 50%,
    #6228d7 100%
  );
}

.widget__item:hover {
  opacity: 0.8;
}

.widget__items-container {
  user-select: none;
  visibility: hidden;
  transform: translateY(-2rem);
  transition: opacity 500ms ease, transform 500ms linear;
  opacity: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.widget__items-container.active {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
  transition: opacity 300ms ease, visibility 300ms linear,
    transform 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.widget__items-container.hidden .widget__item {
  animation-name: stack;
  animation-duration: 400ms;
  animation-fill-mode: forwards;
  opacity: 1;
}

.widget__items-container.hidden .widget__item:nth-child(1) {
  animation-delay: 0ms;
}
.widget__items-container.hidden .widget__item:nth-child(2) {
  animation-delay: 100ms;
}
.widget__items-container.hidden .widget__item:nth-child(3) {
  animation-delay: 200ms;
}
.widget__items-container.hidden .widget__item:nth-child(4) {
  animation-delay: 300ms;
}
.widget__items-container.hidden .widget__item:nth-child(5) {
  animation-delay: 400ms;
}

/* Показ: снизу вверх */
.widget__items-container:not(.hidden) .widget__item {
  animation-name: unstack;
  animation-duration: 400ms;
  animation-fill-mode: forwards;
  opacity: 0;
}

.widget__items-container:not(.hidden) .widget__item:nth-child(5) {
  animation-delay: 0ms;
}
.widget__items-container:not(.hidden) .widget__item:nth-child(4) {
  animation-delay: 100ms;
}
.widget__items-container:not(.hidden) .widget__item:nth-child(3) {
  animation-delay: 200ms;
}
.widget__items-container:not(.hidden) .widget__item:nth-child(2) {
  animation-delay: 300ms;
}
.widget__items-container:not(.hidden) .widget__item:nth-child(1) {
  animation-delay: 400ms;
}

@keyframes stack {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}

@keyframes unstack {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.widget__item-btn img {
  transition: opacity 0.3s, transform 0.3s;
}
.widget__item-btn.active img {
  opacity: 0;
  transform: rotate(90deg);
}
