@media (max-width: 1200px) {
    .playstation__item {
        padding: 0.75rem;
    }

    .playstation__item-title {
        font-size: 1.5rem;
    }

    .btn-site {
        padding-inline: 1.35rem;
        font-size: 1rem;
    }

    .playstation__tab {
        padding: 0.55rem 0.65rem;
    }

    .conditions__left {
        padding: 2.15rem 2.15rem;
    }

}

@media (max-width: 992px) {


    .header__list {
        display: none;
    }

    .top {
        padding: 4.5rem 0;
    }

    .top__inner {
        flex-direction: column;
    }

    .top__col:first-child {
        order: 2;
    }

    .top__col:last-child {
        order: 1;
    }

    .top__col {
        width: 100%;
    }

    .top__image-wrap.image-wrap::after {
        padding-bottom: 40%;
    }

    .top__image-wrap img {
        object-fit: cover;
    }

    .playstation__list {
        justify-content: space-between;
    }

    .playstation__item {
        width: calc(100% / 2 - 10px);
    }

    .playstation__image-wrap.image-wrap::after {
        padding-bottom: 40%;
    }

    .playstation__list {
        gap: 1.25rem;
    }

    .rent__body {
        padding: 1rem;
        inset: 0;
    }

    .rent__stage {
        font-size: 100px;
    }

    .rent__right-title {
        font-size: 2rem;
    }


    .game__item {
        width: calc(100% / 2 - 1rem);
    }

    .games__body {
        align-items: start;
    }

    .games__body {
        flex-direction: column;
    }

    .games__left {
        width: 100%;
        margin-bottom: 2rem;
    }

    .games__left-wrap.image-wrap::after {
        padding-bottom: 60%;
    }

    .games__left-wrap .image-fluid {
        object-fit: contain;
    }

    .games__right {
        width: 100%;
    }

    .game__item {
        width: calc(100% / 4 - 1rem);
    }

    .list-block {
        padding-top: 4.5rem;
    }

    .conditions__inner {
        flex-direction: column;
        position: relative;
    }

    .conditions__left {
        width: 100%;
    }

    .condition__item-wrap {
        width: 15vw;
    }

    .conditions__right {
        margin: 0 auto;
        position: absolute;
        bottom: -100%;
        left: 50%;
        transform: translate(-50%, -80%);
        display: none;
    }

    .other__item {
        padding: 1rem;
    }

    .other__item-title {
        font-size: 1.5rem;
        text-align: center;
    }

    .other__item-btn {
        gap: 0;
        justify-content: space-between;
    }

    .main-form__btn {
        text-align: center;
        justify-content: center;
    }

    .footer__inner {
        grid-template-columns: 60px repeat(2, 1fr);
        display: flex;
        flex-wrap: wrap;
    }

    .footer__col {
        width: calc(100% / 3 - 1rem);
    }

    .footer__phone {
        margin-bottom: 1rem;
    }

    .rent,
    .padding-bottom {
        padding: 2.75rem 0;
    }

    .toggle-menu__btn {
        display: flex;
    }

    .header__phones {
        margin-right: 2rem;
    }

}

@media (max-width: 768px) {
    .top__title {
        max-width: 100%;
        font-size: 3.2rem;
        margin-top: 0.7rem;
    }

    .games__subtitle {
        font-size: 1.75rem;
    }

    .rent__list {
        padding-top: 3.5rem;
    }

    .rent__item {
        width: 100%;
    }

    .rent__body {
        padding: 2.5rem 1rem;
    }


    .rent__item:nth-child(1) .image-fluid {
        border-top-left-radius: 0rem;
    }

    .rent__item:nth-child(2) .image-fluid {
        border-top-right-radius: 0rem;
    }

    .rent__item:nth-child(3) .image-fluid {
        border-bottom-left-radius: 0rem;
    }

    .rent__item:nth-child(4) .image-fluid {
        border-bottom-right-radius: 0rem;
    }

    .rent__right-title {
        font-size: 1.5rem;
    }

    .rent__stage {
        font-size: 70px;
    }

    .games__left {
        margin-bottom: 1.5rem;
    }

    .list-block {
        padding-top: 3.5rem;
    }


    .conditions__inner {
        flex-direction: column;
        position: relative;
        margin-top: 3.5rem;
    }

    .conditions__left {
        width: 100%;
        padding-bottom: 2.15rem;
    }

    .condition__item-wrap {
        min-width: 15vw;
    }



    .other__item {
        padding: 1rem;
    }


    .other__list {
        gap: 1rem;
        justify-content: space-between;
    }

    .other__item {
        width: calc(100% /2 - 0.5rem);
        padding: 0.75rem;
    }

    .other__item-title {
        font-size: 1.25rem;
    }


    .form-block__inner {
        flex-direction: column;
    }

    .form-block__left {
        width: 100%;
    }

    .form-block__image-wrap .image-fluid {
        object-fit: contain;
    }

    .form-block__image-wrap.image-wrap::after {
        padding-bottom: 50%;
    }

    .form-block__right {
        width: 100%;
    }

    .faq__ask-text {
        font-size: 1.05rem;
    }

    .faq__answer-text {
        font-size: 0.95rem;
    }

    .faq__ask {
        margin-bottom: 0.75rem;
    }

    .faqs__list {
        padding: 1rem;
        margin-top: 2.5rem;
    }

    .footer {
        padding: 2rem 0;
    }

    .rent,
    .padding-bottom {
        padding: 3.5rem 0;
    }
}


@media (max-width: 660px) {
    .game__item {
        width: calc(100% / 3 - 1rem);
        flex-grow: 1;
    }

    .condition__item-wrap {
        flex-shrink: 0;
        min-width: 35%;
    }

    .condition__item {
        gap: 0.75rem
    }

    .conditions__left {
        padding: 1.15rem;
    }

    .condition__item-title {
        font-size: 1.75rem;
    }

    .condition__item-wrap {
        display: none;
    }

    .faqs__list {
        padding: 0.45rem;
    }

    .faq__item {
        padding: 0.75rem;
    }

    .footer__inner {
        grid-template-columns: 60px repeat(2, 1fr);
        display: flex;
        flex-wrap: wrap;
    }

    .footer__col {
        width: calc(100% / 2 - 1rem);
        flex-grow: 1;
    }

    .footer__phone {
        margin-bottom: 1rem;
    }

}


@media (max-width: 550px) {
    .top {
        padding: 3.5rem 0;
    }

    .playstation__item {
        width: 100%;
    }

    .rent__body {
        padding: 0.75rem;
    }

    .game__item {
        width: calc(100% / 2 - 1rem);
        flex-grow: 1;
    }

    .games__subtitle {
        font-size: 1.3rem;
    }

    .form-block__image-wrap .image-fluid {
        object-fit: contain;
    }

    .form-block__image-wrap.image-wrap::after {
        padding-bottom: 100%;
    }

    .h2 {
        font-size: 2rem;
    }

    .form-block__inner {
        gap: 1.75rem;
    }


    .rent,
    .padding-bottom {
        padding: 2.5rem 0;
    }
}


@media (max-width: 475px) {

    .conditions__inner {
        margin-top: 2.0rem;
    }

    .h2 {
        font-size: 1.75rem;
    }

    html {
        font-size: 16px;
    }

    .top__title {
        font-size: 2.9rem;
    }

    .top {
        padding: 3rem 0;
    }

    .playstation__image-wrap.image-wrap::after {
        padding-bottom: 60%;
    }

    .playstation__list,
    .rent__list {
        padding-top: 2.25rem;
    }

    .list-block {
        padding-top: 2.25rem;
    }

    .other__item {
        width: 100%;
    }

    .other__list {
        gap: 1.5rem
    }

    .faq__item {
        padding: 0.5rem;
    }

    .faqs__list {
        padding: 0.5rem;
    }

    .header__phones {
        margin: 0px auto;
    }

    .header__phone {
        font-size: 1rem;
    }

    .toggle-menu__btn svg {
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 360px) {
    .top__title {
        font-size: 2.3rem;
    }

    .game__item {
        width: 100%;
        flex-grow: 1;
    }

    .games__right {
        gap: 1.75rem;
    }

    .games__left-wrap .image-fluid {
        object-fit: cover;
    }

    .games__left-wrap.image-wrap::after {
        padding-bottom: 100%;
    }

    /* .game__item-wrap.image-wrap::after {
        padding-bottom: 60%;
    }
    .game__item-wrap .image-fluid {
        object-fit: contain;
    } */
    .game__body-name {
        font-size: 1.2rem;
        margin: 1rem 0;
    }

    .faq__ask-text {
        font-size: 1rem;
    }

    .faq__toggle {
        padding-right: 0.35rem;
    }

    .footer__col {
        width: 100%;
        flex-grow: 1;
        align-items: center;
    }

    .dev__text {
        text-align: center;
    }

    .footer__links {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .footer__link {
        width: calc(100% / 2 - 20px);
        flex-grow: 1;
    }

    .rent,
    .padding-bottom {
        padding: 2rem 0;
    }

}

@media (max-width: 320px) {}